# Node modules
node_modules/
frontend-propre/node_modules/

# Python
__pycache__/
*.py[cod]
venv/
env/

# Environnement
.env
*.env

# Media
media/
mon_projet_django_propre/media/

# Logs
*.log

# IDE
.vscode/
.idea/